body{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100%;
    height: 100vh;
    background-color: #f7de81;
}
li{
    list-style: none;
    display: inline-block;
    margin: 0px 30px;
    color:#0b4da2;
    font-family: 'Lato', 'san-serif';
    font-weight: bold;
}
nav{
    display: flex;
}
.navegacion{
    justify-content: space-around;
    align-items: center;

    
}